@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*Estilos de la navbar*/
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: cornflowerblue;
    font-family: 'Poppins', Arial, sans-serif;
  }
  .logo {
    font-size: 22px;
    font-weight: 600; /* Semi-bold para el logo */
    color: white;
    font-family: 'Poppins', Arial, sans-serif;
    cursor: pointer;
  }
  .btn {
    display: flex;
    gap: 10px; /*Espacio entre botones*/
    }
.btnCerrarSesion, .btnInicio{
    padding: 4px 10px; /*Espacio interno de los botones*/
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: black;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500; /* Medium weight para los botones */
  cursor: pointer;
  font-family: 'Poppins', Arial, sans-serif;
  text-decoration: none;
}
.btnCerrarSesion:hover, .btnInicio:hover {
  background-color: #f0f0f0b0;
  transform: scale(1.03) /*Agranda al pasar el cursor*/
}

/*Estilos del contenido*/
.cita {
  text-align: left; 
  max-width: 800px; 
  margin-right: 70px;
  margin-left: 70px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 22px;
}
.SolicitarCita{
  margin-top: 70px; /*Espacio arriba del contenido*/
  font-family: 'Poppins', Arial, sans-serif;
  margin-right: 70px;
  margin-left: 70px;
}

.DatosDelPaciente{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*2 columnas iguales*/
  gap: 90px; /*Espacio entre columnas*/
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.SelectDocumento {
  margin-bottom: 20px; /*Espacio debajo del contenido*/
}
.SelectDocumento label {
  display: block; /*Hace que el label este arriba*/
  margin-bottom: 8px; /*Espacio entre el label y el select*/
}
.SelectDocumento select {
  width: 80%; /*Espacio ocupado*/
  padding: 7px 1px; 
  border-radius: 8px; 
  font-size: 14px; 
  background-color: #fff; 
  color: #333; 
  border: 1px solid #3a3737; 
  transition: border-color 0.3s; /*Suaviza el cambio de color*/
}

.SelectNumDocumento {
  margin-bottom: 20px;
}
.SelectNumDocumento label {
  display: block; /*Hace que el label este arriba*/
  margin-bottom: 8px; /*Espacio entre el label y el input*/
}
.SelectNumDocumento input {
  width: 80%; /*Ancho*/
  padding: 7px; 
  border-radius: 8px; 
  font-size: 14px; 
  background-color: #fff; 
  color: #333; 
  border: 1px solid #3a3737; 
}

.SelectFechaNacimiento {
  margin-bottom: 20px; 
}
.SelectFechaNacimiento label {
  display: block; 
  margin-bottom: 8px; 
}
.SelectFechaNacimiento input {
  width: 80%; 
  padding: 7px; 
  border-radius: 8px; 
  font-size: 14px;
  background-color: #fff;
  color: #333; 
  border: 1px solid #3a3737;
  transition: border-color 0.3s;
}

.SelectNumeroTelefono {
  margin-bottom: 20px; 
}
.SelectNumeroTelefono label{
  display: block; 
  margin-bottom: 8px; 
}
.SelectNumeroTelefono input {
  width: 80%; 
  padding: 7px; 
  border-radius: 8px; 
  font-size: 14px;
  background-color: #fff;
  color: #333; 
  border: 1px solid #3a3737;
  transition: border-color 0.3s;
}

.Terminos-y-condiciones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
}
.Terminos-y-condiciones a {
  color: #2563eb; /*Azul*/
}
.Terminos-y-condiciones a:hover {
  text-decoration: underline;
}
.Terminos-y-condiciones input[type="checkbox"] {
  margin-right: 3px;
  cursor: pointer;
}

.btnContinuar{
  padding: 8px 17px;
  background-color: cornflowerblue; 
  color: white; /* Texto en blanco para mejor contraste */
  border: 1px solid cornflowerblue; /* Borde ligeramente más oscuro */
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Permite que margin auto funcione */
  margin: 0 auto; /* Centra el botón horizontalmente */
  width: fit-content; /* El botón tendrá el ancho de su contenido */
}
.btnContinuar:hover {
  background-color: rgb(82, 123, 199);
  transform: scale(1.03)
}