@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: cornflowerblue;
  font-family: 'Poppins', Arial, sans-serif;
}
.logo {
  font-size: 22px;
  font-weight: 600; /* Semi-bold para el logo */
  color: white;
  font-family: 'Poppins', Arial, sans-serif;
}
.buttons-container {
    display: flex;
    gap: 10px;
  }
.btn {
    padding: 4px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: black;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500; /* Medium weight para los botones */
    cursor: pointer;
    font-family: 'Poppins', Arial, sans-serif;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #f0f0f0b0;
    transform: scale(1.03)
  }

  .Inicio {
    margin-top: 70px;
  }
  .text-banner {
   text-align: left;
  max-width: 800px;
  margin-right: 70px;
  margin-left: 70px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 22px;
  }

  .Inicio2 {
    margin-top: 43px;
  }
  .subtitulo {
    text-align: left;
  max-width: 800px;
  margin-right: 70px;
  margin-left: 70px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 22px;
  }
  .serviciosmasusados {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espacio entre columnas */
    align-items: flex-start;
  }
  .serviciosmasusados-1, .serviciosmasusados-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .img1, .img2 {
    width: 40px;
    height: 40px;
  }
  .btnCancelarCita , .btnSolicitarCita, .btnHistorialClinico {
    padding: 4px 10px;
    background-color: cornflowerblue; 
    color: white; /* Texto en blanco para mejor contraste */
    border: 1px solid cornflowerblue; /* Borde ligeramente más oscuro */
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content; /* El botón tendrá el ancho de su contenido */
    text-decoration: none;
  }
  .btnCancelarCita:hover , .btnSolicitarCita:hover, .btnHistorialClinico:hover {
    background-color: rgb(47, 108, 221);
    transform: scale(1.03)
  }
  
.profile-button {
  padding: 4px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: black;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500; /* Medium weight para los botones */
  cursor: pointer;
  font-family: 'Poppins', Arial, sans-serif;
  text-decoration: none;
  }